{% extends "layoutCocinero.html" %}

{% block container %}
<div class="container-fluid">
    <div class="container py-5 text-center"> <!-- Añadido text-center aquí -->
        <div class="container p-2">
            <h2>Inventario de Galletas <i class="mdi mdi-cookie"></i></h2>
        </div>

        <!-- Tabla de galletas -->
        <div class="container mt-4">
            <h3 class="mb-3">Lista de Galletas</h3>
            <table class="table table-striped table-bordered text-center"> <!-- Añadido text-center aquí -->
                <thead>
                    <tr>
                        <th>Nombre de la Galleta</th>
                        <th>Cantidad en Inventario</th>
                        <th>Presentación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for galleta in inventario %}
                    <tr>
                        <td>{{ galleta.nombre }}</td>
                        <td>{{ galleta.stock }}</td>
                        <td>{{ galleta.descripcion }}</td> <!-- Cambiado de presentacion a descripcion -->
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3">No hay galletas en inventario.</td> <!-- Ajustado a 3 columnas -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}