{% extends "layout.html" %}
{% block container %}
<link rel="stylesheet" href="../static/CSS/login.css" />

<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title text-center">Inicio de sesión</h5>
            <form method="POST" action="{{ url_for('auth.login') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    {{ form.email(class="form-control", id="email") }}
                    <div class="form-text">Introduce tu email.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    {{ form.password(class="form-control", id="password") }}
                </div>
                <div class="mb-3 form-check">
                    <a href="/registrarClientes">¿No tienes cuenta? Regístrate</a>
                </div>
                <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}