{% extends "layout.html" %}
{% block container %}
<link rel="stylesheet" href="../static/CSS/login.css" />

<div class="container d-flex justify-content-center align-items-center"style="height: 70vh;">
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title text-center">Inicio de sesión</h5>
            <form>
                <div class="mb-3">
                    <label for="exampleInputUser " class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="exampleInputUser " aria-describedby="userHelp" required>
                    <div id="userHelp" class="form-text">Introduce tu nombre de usuario.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                <div class="mb-3 form-check">
                    <a href="/registrarClientes">¿No tienes cuenta? Regístrate</a>
                </div>
                <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}