{% extends "layout.html" %}
{% block container %}


<div class="container py-5">
    <h2 class="text-center mb-4">Lista de Galletas</h2>
    <br>
    <div class="row justify-content-center">
        {% for galleta in galletas %}
        <div class="col-md-3 mb-4">  <!-- Cambiado a col-md-2 para mostrar 5 tarjetas en una fila -->
            <div class="card shadow-sm">
                <img src="../static/img/galleta.png" class="card-img-top" alt="{{ galleta.nombre }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ galleta.nombre }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}